* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #085dad;
    min-height: 100vh;
}
.footer {
    background-color: #1E90FF;
    border-radius: 0.6em;
    position: sticky;
    top: 100%;
    text-align: center;
    font-size: 80%;
}
.header {
    width: 100%;
    height: 80px;
    background-color: #1E90FF;
    border-radius: 0.6em;
}
.inner-header{
    width: 700px;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo-container {
    height: 100%;
    display: table;
    float: left;
}
.logo-container h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-size: 32px;
    font-weight: 200;
}
.logo-container h1 span {
    font-weight: 800;
}
.navigation{
    float: right;
    height: 100%;
    cursor: pointer;
}
.navigation a{
    height:100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.navigation a:hover{
    opacity: 0.7;
}
.navigation a:last-child {
    padding-right: 0;
}
.navigation a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
}
.wrapper {
    width: 90%;
    font-size: 16px;
    max-width: 43.75em;
    margin: 1em auto;
}
.container {
    width: 100%
}
.welcome,
.month-container,
.login-container,
.contact-container,
.message {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(20, 0, 80, 0.06);
    border-radius: 0.6em;
    margin: 2em 0;
}
.budget-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
}
.flex {
    display:flex;
    align-items: center;
}
.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapper h3 {
    color: #363d55;
    font-weight: 500;
    margin-bottom: 0.6em;
}
.container input {
    display: block;
    width: 100%;
    padding: 0.6em 0.3em;
    border: 1px solid #d0d0d0;
    border-radius: 0.3em;
    color: #414a67;
    outline: none;
    font-weight: 400;
    margin-bottom: 0.6em;
}
.containter input:focus {
    border-color: #1E90FF ;
}
.budget-amount-container,
.expense-amount-container {
    background-color: #ffffff;
    padding: 1.25em 0.9em;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(20, 0, 80, 0.06);

} 
.output-container {
    background-color: #1E90FF;
    color:#ffffff;
    border-radius: 0.3em;
    box-shadow: 0 0.6em 1.2em rgba(20, 0, 80, 0.06);
    margin: 2em 0;
    padding: 1.2em;
}
.output-container p{
    font-weight: 500;
    margin-bottom: 0.6em;
}
.output-contaianer span{
    display: block;
    text-align: center;
    font-weight: 400;
    color: #e5e5e5;
}
.submit {
    font-size: 1em;
    margin-top: 1em;
    background-color: #1E90FF;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 0.6em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;
}
.list {
    background-color: #ffffff;
    padding: 1.8em 1.2em;
    box-shadow: 0 0.6em 1.2em rgba(20, 0, 80, 0.06);
    border-radius: 0.6em;
}
.hide {
    display:none;
}
.error {
    color: #ff465a;
}
button:hover {
    background-color: #046be0;
}
.checkbox {
    padding: 0.6em 1.2em;
    cursor: pointer;
}
input[type=text], input[type=password] {   
    width: 100%;   
    background-color: #ffffff;
    padding: 0.6em 0.3em;
    border-radius: 0.3em;
    color: #414a67;
    margin-bottom: 0.8em;
}
