body {
	background: #121212;
	color: whitesmoke;
	
}

.tittle {
	text-align: left;
}

table{
	text-align: center;
	background-color: lightyellow;
	color: lightgray;

}

nav{
	float: left;
}

nav ul{
	list-style-type: none;
	padding-left: no;
}
nav a{
	text-decoration: none;
	display: block;
	text-align: center;
	font-weight: bold;
	border: .25px solid #CCCCCC;
	padding: .5em;
	margin-bottom: .5em;
}